.blu-prim {
    background-color: #005AAB !important;
}

.grey-prim {
    background-color: #AAB2B9;
}

.red-med {
    background-color: #9A2929 !important;
    /* color: #9A2929; */
}

.offcanvas-menu {
    background: #9A2929;
}


.blu-btn {
    outline: #005AAB solid 1px;
    color: #005AAB;
}

.grey-outln-btm {
    outline: #AAB2B9 solid 1px;
    color: #AAB2B9;
}


.red-text {
    color: #650000;
}